* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Header */

.header {
   margin-top: 50px;
  background: #4f46e5;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Layout */

.dashboard {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

/* Input Section */

.task-input {
  flex: 1;
  min-width: 300px;
  background: #f9fafb;
  padding: 20px;
  border-radius: 10px;
}

.task-input h2 {
  margin-bottom: 15px;
}

.task-input form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task-input input,
.task-input textarea,
.task-input select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.task-input button {
  padding: 12px;
  border: none;
  background: #06b6d4;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.task-input button:hover {
  background: #0891b2;
}

/* Task Display */

.task-display {
  flex: 2;
  min-width: 350px;
}

.task-display h2 {
  margin-bottom: 15px;
}

/* Task Cards */

.task-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.task-card:hover {
  transform: translateY(-5px);
}

.task-card span {
  display: inline-block;
  margin-top: 8px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
  color: white;
}

/* Status Colors */

.pending span {
  background: #f59e0b;
}

.progress span {
  background: #3b82f6;
}

.completed span {
  background: #10b981;
}
