*{
  padding: 0;
margin: 0;
box-sizing: border-box;
}
.home-page-container{
  margin-top: 50px;

}
/* Hero Section */

@keyframes welcome {
  0% {
 color: rgb(30, 29, 29);
 transform: rotateY(0deg);

  }
  25% {
    color:rgb(231, 7, 168);
    transform: rotateY(-10deg);
  
  }
  50% {
    color:rgb(5, 55, 255);
      transform: rotateX(90deg);
  
  }
  
  75% {
    color:rgb(11, 234, 241);
 transform: rotateY(5deg);
  
    
  }
  100% {
    color:rgb(74, 222, 5);
       color:rgb(26, 122, 183);
       transform: rotateY(-10deg);
 
  }
}
.welcome{
  font-family: monospace;
  font-weight: 800;
  font-size: 1.5rem;
  animation: welcome 10s linear 3s infinite alternate;
 
}



.hero {
  height: 60vh;
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
  color: white;
  text-align: center;
  padding-top: 100px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero button {
  padding: 12px 25px;
  border: none;
  background: white;
  color: #4f46e5;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: #e0e7ff;
   
  transform: scale(1.05);
}

/* Features Section */
.features {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 50px 20px;
  background: #f9fafb;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 25px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s;
}
@keyframes anim{
  0% {
     transform: rotateX(-90geg);
     background-color: antiquewhite;
  }
    25% {
     transform: rotateZ(-180deg);
       background-color: rgb(250, 210, 158);
  }
    50% {
     transform: rotateZ(-270deg);
         background-color: rgb(255, 187, 99);
  }
    100% {
     transform: rotateZ(-360deg);
         background-color: rgb(249, 165, 56);
  }

}

.card:hover {
  animation: anim 0.5s linear;
       


}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  color: #555;
}

