*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10;
  background: #0d0dd8;
  position:fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  height:50px;
  z-index:1000;
}
.navbar .logo{
  margin: 3px 10px 3px 5px;
  border-radius: 50%;
  padding: 2px;
  overflow-y: hidden;
  transition: all 0.1s ease-in-out;

}
 .logo:hover{
 border: 2px solid goldenrod;
 }
.logo img{
  width: 40px;
  height: 32px;
}
.navbar .nav-link{
 margin: 3px 10px 3px 0px;
 padding: 5px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 gap: 7px;
}
 a{
  color: gold;
  text-decoration: none;
}