*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10;
  background: #0d0dd8;
  position:fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  height:50px;
  z-index:1000;
}
.navbar .logo{
  margin: 3px 10px 3px 5px;
  border-radius: 50%;
  padding: 2px;
  overflow-y: hidden;
  transition: all 0.1s ease-in-out;

}
 .logo:hover{
 border: 2px solid goldenrod;
 }
.logo img{
  width: 40px;
  height: 32px;
}
.navbar .nav-link{
 margin: 3px 10px 3px 0px;
 padding: 5px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 gap: 7px;
}
 a{
  color: gold;
  text-decoration: none;
}
/*  */
.login-page-container{
  min-height: 77vh;
  margin-top: 50px;
  display: flex;
 justify-content: center;
 align-items: center;
}
.input-area{
   display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 8px;
}
.input-area h1{
  text-align: center;
}

button{
  background-color: green;
  color: white;
  margin: 5px auto;

}
input , button{
  border: none;
  outline: none;
  border-radius: 10px;
   padding:5px 10px;

}
.logout{
  background-color: red;
}
input{
 width: 100%;
}