
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.btn{
  cursor: pointer;
}
.app-container{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  height: 80vh;
  margin: 50px auto;
  padding:0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow-y:scroll;
 scroll-behavior: smooth;
  
}
.header{
  background-color: rgb(0, 183, 255);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.header h1{
  text-align: center;
  color: #3825ae;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}
#task-input-container{
  margin-top: 5px;
  width: 80%;
  margin: 5px auto;
  /* background-color: blue; */
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
#task-input-container #task-input{
flex-grow: 1;
border: 1px solid #ccc;
border-radius: 4px;
padding:6px 10px ;
font-size: 13px;
color :rgb(55, 56, 59);
font-family: "Poppins", sans-serif;
}
#add-task-btn{
  font-size: 15px;
  background-color: rgb(23, 190, 93);
  color :white;
  border: none;
border: 1px solid #ccc;
border-radius: 4px;
padding: 7px;
  cursor: pointer;
}
/* filter button style */
.filter-btn-container{
    display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;

}
.filter-btn{

 font-family: "Poppins", sans-serif;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 3px 6px;
  font-size: 14px;
  color: #716d6d;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.filter-btn.active{
  background-color: rgb(23, 190, 93);
  color: white;
}


/* task list style */
.main-section{
  flex: 1;
}
.main-section .no-task{
  width: 100%;
  height: 100%;
  background-color:rgb(237, 191, 133);
  color:red;
 display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-weight: 400;
  margin-top: 0px;


}
.task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(222, 217, 217);
}
.task .completed{
  color: green;
}
.task p{
  font-family: "Poppins", sans-serif;
 word-break: break-all;
 text-align: left;
 margin: 0;
  padding: 5px;
  font-size: 16px;
  color: #333;
}
  
.task input[type="checkbox"]{
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  border-radius: 4px;
  cursor: pointer;
}
.task input[type="checkbox"]::checked{
color: aquamarine;
}
.del{
  color: rgb(255, 0, 0);
  font-size: 20px;
  cursor: pointer;
}

/* summary style */
.summary{
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  color:white;
  background-color: black;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  border:1px solid rgb(234, 232, 232);
  font-family:monospace;
  font-size: 14px;
}
.summary h5{
  margin: 0;
  border-bottom :  0.1px solid rgb(141, 141, 141);
  
}.filter-summary{

  display: flex;
 justify-content: space-around;
 align-items: center;
}
.filter-summary p{
    margin: 0;
}

